
.container{
    background-image: linear-gradient(to top,#cfd9df 0%,#e2ebf0 100%);
    margin-top: 100px;
    box-shadow: 10px 10px 5px rgba(88,88,88,0.5);
}

.picDiv{
    border-right: 1px solid #CCCCCC;
}


.picDiv img{
    width: 100%;
    height: 450px;
    transform: rotateY(180deg);
}


.formDiv{
    padding-top: 50px;
    padding-bottom: 20px;
}

.formDiv input{
    margin-bottom: 15px;
}

.formDiv input[type='submit'],.formDiv input[type='reset']{
    float: right;
    margin-left: 10px;
    width: 80px;
}

#back {
    position: relative;
    left: 20px;
    top: 20px;
    display: inline-block;
}

#back span{
    font-size: 35px;
}
